@model LoginViewModel
@using WebMarketplace.ViewModels

<div class="text-center" xmlns="http://www.w3.org/1999/html">
    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@Model.ReturnUrl" method="post" role="form">
        
        <h1 class="register-h1">Use a local account to log in.</h1>
        <hr/>
        
        <div asp-validation-summary="All" class="custom-text-danger"></div>
        
        <div class="form-group">
            <label asp-for="UserName" class="text-form"></label>
            <input asp-for="UserName" class="form-control"/>
            <span asp-validation-for="UserName" class="custom-text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password" class="text-form"></label>
            <input asp-for="Password" class="form-control"/>
            <span asp-validation-for="Password" class="custom-text-danger"></span>
        </div>
        <br />

        <p>
            <button type="submit" class="btn">Log in</button>
        </p>
        
        <a asp-action="Register" class="navbar-brand"> Register as a new user?</a>
    </form>
</div>