@model WebMarketplace.ViewModels.RegisterViewModel

<div class="text-center">
    <h1 class="register-h1">Register</h1>
    <form asp-controller="Account" asp-action="Register" method="post" role="form">
        <h4>Create a new account</h4>
        <hr />
        <div asp-validation-summary="All" class="custom-text-danger"></div>

        <div class="form-group">
            <label asp-for="UserName" class="text-form"></label>
            <div>
                <input asp-for="UserName" class="form-control"/>
                <span asp-validation-for="UserName" class="custom-text-danger"></span>
            </div>
        </div>
    
        <div class="form-group">
            <label asp-for="Password" class="text-form"></label>
            <input asp-for="Password" class="form-control"/>
            <span asp-validation-for="Password" class="custom-text-danger"></span>
        </div>
    
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="text-form"></label>
            <input asp-for="ConfirmPassword" class="form-control"/>
            <span asp-validation-for="ConfirmPassword" class="custom-text-danger"></span>
        </div>
        <br />
        
        <p>
            <button type="submit" class="btn">Register</button>
        </p>
    </form>
</div>